<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>

    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>

<body>
    <h1>International Weather Forecast</h1>

    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City">
        <button type="submit">Submit</button>
    </form>

    
    <table>
        <thead>
            <tr>
              <th colspan="2">{{ title }} Weather</th>
            </tr>
          </thead>

        <tbody>
            <tr class="highlighted-row">
                <td>Weather Description</td>
                <td>{{ status }}</td>  
            </tr>
            <tr>
                <td>Temperature</td>
                <td>{{ temperature }} &deg;C</td>  
            </tr>
            <tr  class="highlighted-row">
                <td>Min. Temperature</td>
                <td>{{ temp_min }} &deg;C</td>  
            </tr>
            <tr>
                <td>Max. Temperature</td>
                <td>{{ temp_max }} &deg;C</td>  
            </tr>
            <tr class="highlighted-row">
                <td>Feels like</td>
                <td>{{ feels_like }} &deg;C</td>  
            </tr>
            <tr>
                <td>Humidity</td>
                <td>{{ humidity }} %</td>  
            </tr>
         </tbody>
    </table>

    
    <!-- <p>Weather Description {{ status }}</p>
    <p>Temperature {{ temperature }} &deg;C</p>
    <p>Min Temp {{ temp_min }} &deg;C</p>
    <p>Max Temp {{ temp_max }} &deg;C</p>
    <p>Feels like {{ feels_like }} &deg;C</p>
    <p>Humidity {{ humidity }} %</p> -->


</body>
</html>